<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body>
    <%- include('../partials/header.ejs'); %>
    <div class="main">
        
        <div class="btn-div">  
            <% for (let key in lists){ %>         
            <button class="btn category_btn" list="<%= key %>"><%= key %></button>       
            <% }%>

            <button class="btn category_btn active" list="All">All</button> 
        </div>
        
        

        <div class="lists-div equal-columns">
            <div class="form_div" id="form_div">
                <form method="POST" action="/create_task" class="add_form" id="add_task">
                    <div class="form-header">
                        <div>
                            <h3>Add Task</h3>
                        </div>
                        <div>
                            <button type="button" class="btn close_btn" id="close">&#10005;</button>
                        </div>
                        
                    </div>
                    <div class="form-body">
                        <div class="form-field display_flex_row list_row">
                            <% for (let key in lists){ %> 
                                <div class="display_flex_row">
                                    <div class="">
                                        <input type="radio" name="list" value="<%= key %>"/> 
                                    </div>
                                    <div class="">
                                        <label><%= key %></label>
                                    </div> 
                                </div>  
                                     
                                     
                            <% }%>
                        </div>

                        <div class="task_text">
                            <div>
                                <label>Task:</label>
                            </div>
                            <div class="textarea_div">
                               <textarea class="form_control_modified" name="task_text"></textarea> 
                            </div> 
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn save_btn" id="save">Save</button>
                    </div>
                     
                </form>
                
            </div>
           
            <% for (let key in lists){ %>
                <div class="category_div active" list="<%= key %>">
                    <div class="list-header">
                        <h2><%= key %> Tasks - <%= lists[key].length %></h2> 
                        <button class="btn add_task" list="<%= key %>">Add</button>
                    </div>
                    <div class="task-list">
                        <div class="tasks">
                            <% if (lists[key].length === 0) { %>
                                <div>No Tasks</div>                                
                            <% } else { %>
                                
                                <% for (let task of lists[key]) { %>
                                    <form method="POST" action="/update_task/<%= key %>/<%= task.id %>" class="update_form">
                                    <% if (task.complete) { %>
                                        <div class="list-item">
                                            <div>
                                                <input class="update_task" type="checkbox" name="update" checked/> 
                                            </div>
                                            <div class="strike">
                                                <%= task.text %>
                                            </div>
                                        </div>
                                    <% } else { %>
                                        <div class="list-item">
                                            <div>
                                                <input class="update_task" type="checkbox" name="update" /> 
                                            </div>
                                            <div>
                                                <%= task.text %>
                                            </div>
                                        </div>
                                    <% } %>
                                     </form>
                                <% } %>
                               
                            <% } %>
                        
                        </div>
                    </div>
                    
                </div>

            <% }%>  
        </div>        
    </div>
    <%- include("../partials/footer.ejs")%>
</body>
</html>