<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body>
    <%- include('../partials/header.ejs'); %>
    <div class="main">
        
        <div class="btn-div">  
            <% for (let item of lists){ %>         
            <button class="btn category_btn" list="<%= item.name %>"><%= item.name %></button>       
            <% }%>

            <button class="btn category_btn active" list="All">All</button> 
        </div>
        
        

        <div class="lists-div">
            <div class="form_div" id="form_div">
                <form class="add_form" id="add_task">
                    <div class="form-header">
                        <div>
                            <h3>Add Task</h3>
                        </div>
                        <div>
                            <button type="button" class="btn close_btn" id="close">&#10005;</button>
                        </div>
                        
                    </div>
                    <div class="form-body">
                        <div class="form-field display_flex_row list_row">
                            <% for (let item of lists){ %> 
                                <div class="display_flex_row">
                                    <div class="">
                                        <input type="radio" name="list" value="<%= item.name %>"/> 
                                    </div>
                                    <div class="">
                                        <label><%= item.name %></label>
                                    </div> 
                                </div>  
                                     
                                     
                            <% }%>
                        </div>

                        <div class="task_text">
                            <div>
                                <label>Task:</label>
                            </div>
                            <div class="textarea_div">
                               <textarea class="form_control_modified" name="task_text"></textarea> 
                            </div> 
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn save_btn" id="save">Save</button>
                    </div>
                     
                </form>
                
            </div>
           
            <% for (let item of lists){ %>
                <div class="category_div active" list="<%= item.name %>">
                    <div class="list-header">
                        <h2><%= item.name %> Tasks - <%= item.tasks.length %></h2> 
                        <button class="btn add_task" list="<%= item.name %>">Add</button>
                    </div>
                    <div class="task-list">
                        <div class="tasks">
                            <% if (item.tasks.length === 0) { %>
                                <div>No Tasks</div>                                
                            <% } else { %>
                                <ul>
                                </ul>
                            <% } %>
                        </div>
                    </div>
                    
                </div>

            <% }%>  
        </div>        
    </div>
    <%- include("../partials/footer.ejs")%>
</body>
</html>